// This reset file is for documents that will be printed.
$font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
$line-height-body: 1.5;
$line-height-heading: 1.15;
$base-padding: 0.2rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-stack;
}

body {
    line-height: $line-height-body;
}

// headings:
h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    text-wrap: balance;
    line-height: $line-height-heading;
}

// text elements:
p,
li {
    overflow-wrap: break-word;
    max-width: 70ch;
}

// links:
a {
    text-decoration: none;
    color: inherit;
    padding: $base-padding;
    display: inline-block;
}

// media elements:
img {
    display: block;
    max-width: 100%;
}
