$highlight-color: var(--c-brand-30);

.form {
    padding: var(--spacing-lg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.field {
    font-size: var(--fz-sm);
    margin-bottom: var(--spacing-md);
}

.field__label {
    display: block;
    margin-bottom: var(--spacing-sm);
    font-weight: 700;
}

.field__input-wrapper {
    display: flex;
    align-items: center;
}

.field__input {
    width: 100%;
    border: 2px solid $highlight-color;
    border-radius: 8px;
    color: var(--c-txt-primary);
    transition: all 0.3s ease;
    background: transparent;

    &:focus {
        border-color: $highlight-color;
        box-shadow: 0 0 0 3px hsla($highlight-color, 0.2);
    }
}
.field__input--select,
.field__input--text,
.field__input--email,
.field__input--password {
    padding: var(--spacing-sm);
}

.field__input--range-number {
    max-width: 7ch;
    text-align: center;
}

.field__input--range-slider {
    width: 100%;
    height: 0.5rem;
    background: $highlight-color;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: var(--c-variant-action);
        cursor: pointer;
        border-radius: 50%;
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: var(--c-brand-30);
        cursor: pointer;
        border-radius: 50%;
    }
}

.field__input--radio {
    display: flex;
    justify-content: flex-start;
}

.field__select-wrapper {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
}

.field__options {
    display: flex;
    flex-direction: column;
}

.field__option {
    display: grid;
    width: 100%;
    text-align: center;
    padding: var(--spacing-sm);
    transition: background-color 0.2s ease;
    position: relative;

    &:hover {
        background-color: $highlight-color;
    }
}

.field__option-radio {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &:checked {
        background-color: $highlight-color;
        box-shadow: 0 0 0 3px hsla($highlight-color, 0.2);
    }
}

.field__option-label {
    color: var(--c-txt-primary);
    letter-spacing: 1px;
    line-height: 1;

    .field__option-radio:checked + & {
        z-index: var(--z-low);
        font-weight: 700;
    }
}

.field__error {
    color: var(--c-variant-error);
    font-size: var(--fz-xs);
    margin-top: var(--spacing-xs);
}
