@import url("https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Podkova:wght@400..800&display=swap");

.theme--posh {
    --c-bg-primary: hsl(0, 0%, 98%);
    --c-bg-secondary: hsl(210, 15%, 95%);

    --c-brand-60: hsl(200, 80%, 60%);
    --c-brand-30: hsl(200, 80%, 70%);
    --c-brand-10: hsl(200, 80%, 80%);

    --c-txt-primary: hsl(0, 0%, 10%);
    --c-txt-secondary: hsl(0, 0%, 90%);

    --c-variant-action: hsl(200, 80%, 50%);
    --c-variant-dark: hsl(0, 0%, 10%);
    --c-variant-disabled: hsl(0, 0%, 70%);
    --c-variant-error: hsl(0, 60%, 50%);
    --c-variant-info: hsl(225, 60%, 60%);
    --c-variant-light: hsl(0, 0%, 95%);
    --c-variant-loading: hsl(200, 50%, 60%);
    --c-variant-success: hsl(125, 60%, 50%);
    --c-variant-warning: hsl(40, 80%, 60%);

    --z-lowest: -1;
    --z-low: 10;
    --z-mid: 100;
    --z-high: 200;
    --z-highest: 1000;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 3rem;

    --ff-primary: "Mate", serif;
    --ff-secondary: "Podkova", serif;

    --fz-xs: clamp(0.75rem, 0.6vw + 0.5rem, 0.875rem);
    --fz-sm: clamp(0.875rem, 0.7vw + 0.6rem, 1rem);
    --fz-md: clamp(1rem, 0.8vw + 0.7rem, 1.25rem);
    --fz-lg: clamp(1.125rem, 0.9vw + 0.8rem, 1.5rem);
    --fz-xl: clamp(1.25rem, 1vw + 0.9rem, 1.875rem);

    --bp-xs: 0;
    --bp-sm: 600px;
    --bp-md: 900px;
    --bp-lg: 1200px;
    --bp-xl: 1536px;

    --shadow-1: 0 2px 5px -1px rgba(0, 0, 0, 0.15);
    --shadow-2: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
}
