@use "../mixins/mq" as *;

.sections {
    @include mq(md) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: var(--spacing-xl);
    }
}

.section {
    margin-bottom: var(--spacing-sm);
}

.heading {
    color: white;
    font-size: var(--fz-lg);
    font-weight: 700;
    font-family: var(--ff-secondary);
    margin-bottom: var(--spacing-sm);
}

.content {
    font-size: var(--fz-md);
}

.nav {
    font-family: var(--ff-secondary);
    display: flex;
    flex-direction: column;
}

.navLink {
    &:hover {
        color: var(--c-variant-action);
    }
}

.copyright {
    font-size: var(--fz-xs);
}
