@use "sass:map";
@use "../theme" as theme;

.root {
    display: flex;
}

.link {
    padding: map.get(theme.$spacings, "sm");
    font-size: map.get(theme.$fontSizes, "md");
    white-space: nowrap;

    &:hover {
        color: var(--c-brand-10);
    }
}
