@use "sass:map";
@use "../../abstracts/mixins/index.scss" as *;

.form {
    @include collection(1);
}

.option {
    display: flex;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.label,
.legend {
    color: var(--c-brand-30);
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    margin-bottom: var(--spacing-xs);
}

.option .label {
    margin-bottom: 0;
}

.input,
.select,
.textarea {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 8px;
    color: var(--c-txt-primary);
    background-color: var(--c-bg-secondary);
    &:hover {
        border-color: var(--c-variant-action);
    }
}

.error {
    color: var(--c-variant-error);
    font-size: var(--fs-sm);
}
