$app_min_width: 375px;
$app_gutter: var(--spacing-md);

.app {
    min-width: $app_min_width;
    min-height: 100dvh;
    background-color: var(--c-bg-primary);
    color: var(--c-txt-primary);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header,
.main,
.footer {
    padding: $app_gutter;
}

.header,
.footer {
    background-color: var(--c-brand-60);
    z-index: var(--z-2);
}

.header {
    position: sticky;
    top: 0;
}

.nav {
    font-family: var(--ff-secondary);
    overflow-x: auto;
}

.main {
    overflow-y: auto;
}
