@use "sass:map";
@use "../base/theme" as base;

$colors: (
    bg: map.get(base.$colors, "bg"),
    brand: (
        60: hsl(90, 50%, 60%),
        30: hsl(200, 50%, 60%),
        10: hsl(0, 50%, 60%),
    ),
    txt: map.get(base.$colors, "txt"),
    variant: map.get(base.$colors, "variant"),
);

$fontFamilies: (
    primary: (
        "Old Standard TT",
        serif,
    ),
    secondary: (
        "Forum",
        serif,
    ),
);

$theme: map.merge(
    base.$theme,
    (
        colors: $colors,
        fontFamilies: $fontFamilies,
    )
);
