*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-wrap: break-word;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    height: 100%;
}

// form elements:
button,
input,
select,
textarea {
    font: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
}

fieldset {
    border: none;
}

legend,
label {
    display: block;
    width: 100%;
}

legend,
select,
label,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="range"] {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
}

// text elements:
blockquote,
dd,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
    text-wrap: pretty;
    max-width: 70ch;
}

// headings:
h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    text-wrap: balance;
    line-height: 1.1;
}

// media elements:
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

// list elements:
ol,
ul,
dl {
    list-style: none;
}

// links:
a {
    font: inherit;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}
